.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #2B7FFF;
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #d1d7df;
}
