/* .custom-scroll::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #2B7FFF;
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #d1d7df;
  border-radius: 20px; 
} */

.light {
 transition: background 0.4s;
}

.dark {
  transition: background 0.4s;
  background: #0f172b;
  color: #fff;
}

.dark-bg {
  transition: background 0.4s;
  background: #b5d4f8;
  color: #fff;
}